/* variables
------------------------------------------------------------*/

:root {
  --app-height: 100vh;

  --main-fonts: "neue-haas-grotesk-display", sans-serif;
  --eb-fonts: "eb-garamond", serif;

  --main-bg-cl: #fff;
  --main-text-cl: #262626;
  --black-cl: #262626;
  --white-cl: #fff;
  --gray-cl: #ececec;
}
